
.tile-wall {
    background-color: #996633;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
}

.tile-space {
    background-color: #ffffff;
}

.tile-goal {
    background-color: #cc3300;
    border-radius: 50%;
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
    margin: 2px;
    /* padding: 2px 0; */
    box-shadow: 1px 3px 5px #000000;
}

.entity-player {
    background-color: #ffcc00;
    margin: 2px;
    border: 1px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 3px 5px #000000;
}

.entity-block {
    background-color: #0099ff;
    margin: 2px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
}

.tile-goal.entity-block {

    background-color: #009933;
    margin: 2px;
    width: 28px;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #000000;
}

.tile-goal.entity-player {
    background-color: #ffcc00;
    margin: 2px;
    width: 28px;
    height: 28px;
    border: 1px solid #000000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 3px 5px #000000;
}

.welcome {

    width: 150px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    background-color: rgb(211, 210, 210);
}

p {
    font-size: 12px;
    padding: 5px;
    margin: 0px;
}